body {
    width: 40%;
    color: #CAD2C5;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    margin-left: 5%;
    text-shadow: 2px 2px 4px #000000;
}

h1 {
    color: #CAD2C5;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 36px;
    text-align: center;
}

p {
    font-size: 22px;
    margin-bottom: 24px;
}

.clickable {
    color: #76A398;
    cursor: grab;
}

.clickable:hover {
    color: #84A98C;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}
