body {
    margin: 0 auto;
}

h1 {
    color: #2F3E46;
    font-size: 48px;
    text-align: center;
    text-shadow: 2px 2px 4px #ffffff;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

.lil-gui .name{
    font-size: 14px;
    font-weight: bold;
}

#lil-gui-name-1, #lil-gui-name-5{
    color:#DA95A1;
}

#lil-gui-name-2, #lil-gui-name-6{
    color:#84A98C;
}

#lil-gui-name-3, #lil-gui-name-7{
    color: #76A398;
}